
.about__title{
    font-size: 1.7em;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px;
}

.about__container{
    padding: 30px 30px;
}

@media (min-width:768px){
    .about__container{
        padding: 30px 45px;
    }

}


@media (min-width:1024px){
    .about__container{
        padding: 30px 60px;
    }

    .about__paragraph{
        width: 73.1471536%;
    }
}